#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(21,89,44,1) 35%, rgba(33,48,52,1) 95%, rgba(3,17,20,1) 100%);
}
